<mat-toolbar color="primary" class="fixed-toolbar">
  <span>Menu Secretaria</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/patient">Pacientes</button>
  <button mat-button routerLink="/secretary">Secretarias</button>
  <button mat-button routerLink="/specialty">Especialidades</button>
  <button mat-button routerLink="/medic">Medicos</button>
  <button mat-button routerLink="/healthInsurance">Obras Sociales</button>
  <button mat-button routerLink="/consultationhours">Horas de Consulta</button>
  <button mat-button routerLink="/attention">Atenciones</button>
  <button mat-button routerLink="/otorgarturno">Turnos</button>
  <button (click)="logout()" class="logout-button">
    <img src="assets/icons/logout.svg" alt="Logout Icon" class="logout-icon">
    Desloguear
  </button>
  

</mat-toolbar>

